{% comment %}
  <!--
  Copyright (c) 2022 Single Media, Inc - ALL RIGHTS RESERVED

  NOTICE:  All information contained herein is, and remains the property of Single Media, Inc
  and its suppliers, if any. The intellectual and technical concepts contained herein are
  proprietary to Single Media, Inc and its suppliers and may be covered by U.S. and Foreign Patents,
  patents in process, and are protected by trade secret or copyright law. Dissemination of this
  information or reproduction of this material is strictly forbidden unless prior
  written permission is obtained from Single Media, Inc.

  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
  SOFTWARE.
  -->
{% endcomment %}

{% comment %}
  <!-- Single Default Styles - Can be edited in assets/single.css -->
{% endcomment %}
{{ 'single-base.css' | asset_url | stylesheet_tag }}
{{ 'single-video.css' | asset_url | stylesheet_tag }}

{% if preview_enabled == 'true' %}
  {% comment %}
    <!-- Video Preview (thumbnail only) -->
  {% endcomment %}
  <div class="single-video-wrap preview">
    {% if max_width == 'true' %}
      <div class="page-width">
    {% endif %}
    <div
      class="video-overlay"
      style="background-image: url('{{ video_thumbnail }}')"
    >
      <div class="no-access">
        {% render 'single-icon-lock-square' %}
        <h2>You do not have access to this video</h2>
      </div>
    </div>
    {% if max_width == 'true' %}
      </div>
    {% endif %}
{% else %}
  {% comment %}
    <!-- Video Player -->
  {% endcomment %}
  <div class="single-video-wrap">
    {% if max_width == 'true' %}
      <div class="page-width">
    {% endif %}
    <div
      id="single-livestream-player{{ section_id }}"
      class="single-video-player {% if chat_enabled == 'false' %}chat-disabled{% endif %} {% if doors != 'OPEN' %}doors-closed{% endif %}"
    >
      <script
        src="https://{{ video_host }}/assets/livestream-embed.js?id={{ video_id }}&customerEmail={{ customer.email }}{% if customer_wallet %}&customerId={{ customer_wallet }}{% endif %}&sectionId={{ section_id }}&chatEnabled={{ chat_enabled }}{% if bypass_token %}&token={{ bypass_token }}&soundcheck=true{% endif %}{% unless shop.metafields.single_inc.whitelabel_enabled.value == true %}&watermark=true{% endunless %}"
        type="text/javascript"
      ></script>
    </div>
    {% render 'single-chat-modal',
      background_color: 'rgba(255,255,255,0.9)',
      font_color: '#000000',
      login_url: login_url,
      register_url: register_url
    %}
    {% if max_width == 'true' %}
      </div>
    {% endif %}
  </div>
{% endif %}

{% comment %}
  <!-- Video Details -->
{% endcomment %}
{% if show_title == 'true' or show_artist == 'true' or show_description == 'true' %}
  <div class="single-grid-item">
    <div class="single-video-info page-width">
      {% if show_title == 'true' %}
        <div class="{{ title_size }} single-video-title">{{ video_title }}</div>
      {% endif %}
      {% if show_artist == 'true' %}
        <div class="{{ artist_size }} single-video-artist">{{ video_artist }}</div>
      {% endif %}
      {% if show_description == 'true' %}
        <p>{{ video_description | replace: '&lt;', '<' | replace: '&gt;', '>' | replace: '&quot;', '"' }}</p>
      {% endif %}
    </div>
  </div>
{% endif %}

<script>
  dispatchVideoId = () => {
      document.dispatchEvent(new CustomEvent('video:loaded', { detail: '{{ video_id }}'}));
  };
  {% comment %} dispatch the event once when this content loads {% endcomment %}
  dispatchVideoId();

  {% comment %} listen for video:requested in case this block renders before any
                associated promoted product blocks
  {% endcomment %}
  document.addEventListener('video:requested', dispatchVideoId);
</script>
